@media only screen and (min-width: 992px) {
    body {
        background-color: rgb(243, 243, 243);
    }
    .container {
        padding-top: 40px;
        width: 80vw;
        margin: 0 auto;
    }
    h1 {
        color: skyblue;
        text-align: center;
        font-size: 45px;
    }
    p {
        font-size: 18px;
        color: black;
    }
    img {
        width: 200px;
    }
    .linkTel {
        color: blue;
        font-size: 18px;
        font-weight: bold;
    }
    .linkTel:hover {
        color: rgb(93, 93, 255);
        text-shadow: 2px 2px 4px #ffffff;
    }
}


/* mpbile */

@media only screen and (max-width: 600px) {
    body {
        background-color: rgb(243, 243, 243);
    }
    .container {
        padding-top: 20px;
        padding: 12px;
        width: 100vw;
        margin: 0 auto;
    }
    h1 {
        color: skyblue;
        text-align: center;
        font-size: 30px;
    }
    h2 {
        color: black;
        text-align: center;
    }
    p {
        font-size: 18px;
        color: black;
    }
    img {
        width: 200px;
    }
    .linkTel {
        color: blue;
        font-size: 16px;
        font-weight: bold;
    }
    .linkTel:hover {
        color: rgb(93, 93, 255);
        text-shadow: 2px 2px 4px #ffffff;
    }
}