<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="../views/css/about.css">
</head>
<body>
    <header>
        <h3>My Weather app!</h3>

        <div class="nav">
            <a href="/">Weather</a>
            <a href="/About">About</a>
        </div>
    </header>
</body>
</html>