<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="JS/app.js"></script>
</head>

<body>
    <h1>this is my app about page</h1>
    <hr> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam iusto quae ab architecto minus adipisci exercitationem eos, voluptatibus rem quisquam. Sed, ullam! Sit recusandae id at odit. Autem facere excepturi, sunt fugit minus illum ab maiores
    repellendus quo itaque veritatis nihil porro perferendis eveniet modi, consequuntur eos numquam voluptatum? Optio corporis distinctio assumenda labore reprehenderit, rem ratione enim accusantium magnam, maxime error voluptatibus dignissimos alias
    sit. Ut nesciunt iusto et, eaque sunt voluptates impedit dolor sapiente eveniet officiis, odit blanditiis voluptatibus necessitatibus excepturi reiciendis. Laboriosam ipsam assumenda, esse, id rem cum adipisci facilis atque nam itaque ad quae! Vel,
    impedit autem sed sapiente enim quidem inventore, quae nulla voluptatum molestias voluptate vitae natus quaerat, eum cum officiis molestiae esse est magni vero. Pariatur laboriosam maxime, voluptatum neque culpa facilis nisi beatae officiis et magni?
    Placeat deleniti ad atque quis, soluta id totam itaque repudiandae quae, fugit quam perferendis ducimus reprehenderit. Beatae, enim iure! Quasi nemo dolorum ea odio, commodi aspernatur necessitatibus repudiandae architecto ducimus quo maxime impedit
    accusamus numquam quaerat iste reprehenderit? Molestias itaque, tenetur praesentium cumque expedita culpa dolorum accusantium, laudantium iure omnis reiciendis iste quia architecto totam esse aliquid, dicta vitae! Suscipit ducimus dignissimos harum
    magni quidem doloribus!

    <img src="pic/me.png" alt="snir pic">
</body>

</html>