<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>headnlebars</title>
    <script src="../public/JS/app.js"></script>
    <style>
        body{
            background-color: #fff;
        }

        h2{
            color: black;
            font-size: 50px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>{{title}}</h2>
</body>
</html>