<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <script src="JS/app.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="pic/weather-icon-png-8.png">
</head>

<body>
    {{>header}} 
    <div class="main-contant">
       <div class="container">
           <h1 class="h1-about">{{title}}</h1>

           <hr>
           <br>
           <p>
               Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse quia alias voluptates laudantium ut amet ab saepe voluptate reiciendis. Ipsa vitae ullam deserunt atque esse repudiandae quibusdam aut libero obcaecati? Iste minus provident magnam unde aut beatae quis perspiciatis, enim quae repellat ex consequatur distinctio porro eaque ipsum! Illum itaque asperiores voluptates perspiciatis animi, praesentium voluptatem harum laborum ut voluptatibus natus reprehenderit cupiditate et dignissimos minima aperiam ipsam explicabo? Libero nihil soluta non eaque mollitia rem quos magnam autem nam quas praesentium earum obcaecati molestiae tempora, dolores nostrum voluptatibus amet error cum quibusdam facilis cumque dolor. Dicta architecto enim, eligendi perspiciatis perferendis reprehenderit pariatur optio qui, nostrum voluptate maiores vitae atque! Eaque beatae cumque aliquam ducimus itaque, perferendis quo quia non nesciunt eos alias! Commodi laudantium libero, mollitia eveniet, sapiente voluptas nulla dolorem odit nam, impedit magni! Dolore neque optio doloremque saepe quae cupiditate aliquam consequuntur reiciendis delectus, labore eveniet qui doloribus dicta molestias. Quia atque odit error rerum, neque saepe eveniet in. Aspernatur dolore qui molestias ad neque corporis quae labore consequatur incidunt atque quam distinctio omnis sapiente, voluptates amet facere delectus blanditiis facilis at! Tempore praesentium libero nihil ad quod, voluptates ea fuga dignissimos quos ipsum maxime est.
           </p>
           <img src="pic/me.png" alt="snir pic">
            <div class="contact-me">
            <p><span> My name is:</span> {{name}}, fullStack developer</p>
            <p><span> Contact me:</span> <a href="tel:+" class="linkTel">{{phone}}</a></p>
            <p><span> Email me:</span> <a href="mailto:" class="linkTel">snir2912@gmail.com</a></p>
            <p><span>Github:</span>  <a href="https://github.com/snir2912" class="linkTel">GO to github!</a></p>
            </div>
            
       </div>
    </div>
    
    {{>footer}}
</body>

</html>