<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <script src="JS/app.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="pic/weather-icon-png-8.png">
</head>

<body>
    {{>header}} 
    <div class="main-contant">
       <div class="container">
           <h1 class="h1-about">{{title}}</h1>

           <hr>
           <br>
           <p>
               Welcome to my weather app. <br>
               The user enters the desired location and the app returns the sky mode, current temperature and how it is felt outside.<br>On the server side, node.js, on the client side pure javascript.<br>
               A little about me, I'm Snir, a bachelor's degree in law and a website developer at present. I develop websites in WordPress and in code, node, react, angular and more.<br> <br> 
               Want to talk to me? contact.
           </p>
           <img src="pic/me.png" alt="snir pic">
            <div class="contact-me">
            <p><span> {{name}}, </span>fullStack developer</p>
            <p><span> Contact:</span> <a href="tel:{{phone}}" class="linkTel">{{phone}}</a></p>
            <p><span> Email:</span> <a href="mailto:" class="linkTel">snir2912@gmail.com</a></p>
            <p><span>Github:</span>  <a href="https://github.com/snir2912" class="linkTel">GO to github!</a></p>
            </div>
       </div>
    </div>
    {{>footer}}
</body>

</html>